Aim: Automaticatically rotate IAM keys every Friday on the production account.

* Find all users within the account-Done
* Remove existing keys from all users-Done
* Assign/create new keys to all users-Done
* Schedule to Friday 23:59PM-Done
* Email users their keys-Done


AWS Services:

- Cloudwatch events (eventbrigde)
- Lambda Function
- I AM (generates keys)
- SES (emails - later)


Documentation of commands we can use:


List access keys: https://docs.aws.amazon.com/AWSJavaScriptSDK/v3/latest/clients/client-iam/classes/listaccesskeyscommand.html
Creates access keys: https://docs.aws.amazon.com/AWSJavaScriptSDK/v3/latest/clients/client-iam/interfaces/createaccesskeycommandoutput.html
Deleltes access keys: https://docs.aws.amazon.com/AWSJavaScriptSDK/v3/latest/clients/client-iam/classes/deleteaccesskeycommand.html
Last used: https://docs.aws.amazon.com/AWSJavaScriptSDK/v3/latest/clients/client-iam/classes/getaccesskeylastusedcommand.html